*env
*/env
./env
env

*__pycache__
*/__pycache__

*.vscode
*/.vscode

ClassifyFlowers/datasets/*
*/datasets
*/datasets/*
*datasets
*/flower_photos
*flower_photos
*/flower_photos.tgz
*flower_photos.tgz

*model.zip
*/model.zip